
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Rye&family=Syncopate&family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Luckiest+Guy&family=Rock+Salt&display=swap');
body{
   
    background-image: url("image/black.jpg");
    background-attachment: fixed;
    
}


.logo
{
    display: flex;
    width: 60%;
    float:left;
}
.logo div{
    flex-wrap: wrap;
}
.logo span{
    font-family:cursive;
    font-weight: bolder;
    color: black;
    margin-top: 10px;
}
.nav{
    background-image: linear-gradient(60deg,rgba(184, 47, 47, 0.74),red);
    z-index: 9;
    padding: 10px;
    padding-left: 40px;
    padding-right:40px;
    display: flex;
    box-shadow:0px 3px 65px 0px rgba(2, 2, 2, 0.568);
}
.nav_top{
    position: fixed;
    top:0;
    right: 0;
    left:0;
}
.logo img{
    padding: 10px;
    
}
.nav_side{
    float:right;
    width: 40%;
    padding-top:10px;
}
.nav_side a{
    text-decoration: none;
    margin-right: 25px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    color: black;
    font-weight: bolder;
    font-family: cosmic,sans-serif;
}
.nav_side a:hover{
    color:white;
    font-weight:bold;
    transition: all 1s ease;
}


#about{
    
    text-align: left;
    color:white,black;
    font-weight: bolder;
    font-family: cosmic,sans-serif;
    font-size: 25px;
    margin-top: 50px;
  padding: 230px;

  display: grid;
  grid-template-columns:auto auto auto auto auto auto ;
   grid-gap: 10px;
   grid-column: 5px;
  
   

}
#about 
{
    padding: 30px;
   
}
#about .card{
    background-color: transparent;
    
   padding: 30px;
}
.view {
   
    text-align: center;
}
.view a{
    
    background-color: #f51f1f;
    color: #d15a7c;
    padding:15px;
    font-weight: bolder;
    font-family: cosmic,sans-serif;
    border-radius: 70px;
    cursor: pointer;
    border: none;
   margin-left: 20px;
    text-decoration: none;
  
    
}

.main a:hover{
    color: #C70039;
    background-color: #e1f33c;
    border: none;
    text-decoration: none;
    
}

.main .main_video{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index:10000;
    background-color: rgba(0, 0, 0, 0.719);
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}
.main_video.active{
    visibility: visible;
    opacity: 1;
}
.main .main_video video{
    position: relative;
    max-width:900px;
    outline: none;


}

.close
{
    position: absolute;
  top: 30px;
right:80px;
    
    cursor:pointer;
    max-width: 40px;
    filter: blur(0.5);
}

#products{
  
    
    
    font-size: 25px;

   padding: 2px;
    text-align: center;
    margin-top: 100px;  
   
}

#products h1{

  
    color: transparent;
    font-weight: bolder;
    font-family: 'Rye', cursive;
    text-align: center;
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
         color: rgb(248, 231, 77);     
    display: block;
    text-shadow: 
      0 0 10px rgba(255, 123, 0, 0.979),
      0 0 4px rgb(255, 196, 0),
      0 0 0px orange,
      0 0 0px darkred;
   
    filter: saturate(100%);
    animation: flicker steps(100)  1s infinite;
             
             
  
}
@keyframes flicker {
    50% {
      color: rgb(253, 251, 251);
      filter: saturate(200%) ;
    }}

    @keyframes flickers {
        50% {
          color: rgb(252, 194, 184);
          filter: saturate(200%) ;
        }}
#products .container
{
    display: grid;
   grid-template-columns:auto auto auto auto auto auto ;
    grid-gap: 10px;
    
   
   margin-left: 80px;
  
    

   
}

#products .container a{
    text-decoration: none;
}
.carousel1{
    
    margin: 10px;
    background-color: transparent;
    
 overflow: hidden;
 margin-top: 40px;
 box-shadow:10px 10px 8px 0px  rgba(2, 2, 2, 0.377);

}
.carousel1:hover{
    transform:translateY(-20px);
    cursor: pointer;
}
.carousel1 h2{
    color:white;
    font-weight: bolder;
    font-family: cosmic,sans-serif;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;

}


#products .carousel
{
    height: 300px;
    width: 170px;
   
}
#products .carousel img
{
    width: 170px;
    height: 300px;
    border-radius:0px;
}


.fa-star,.fa-star-half{
    color:yellow;
    
}
#main{
    background-image: url("image/main1.jpg");
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
   
    
}
#main .m{
    padding-top: 300px;
    background-color: #03030371;
    height: 100%;
}
#main .m h1{
    top: 200px;
    color: rgb(253, 148, 129);     
    display: absolute;
    text-shadow: 
      0 0 10px orangered,
      0 0 10px firebrick,
      0 0 0px maroon,
      0 0 10px darkred;
     
    filter: saturate(100%);
    animation: flickers steps(100)  1s infinite;
     
    font-weight: bolder;
    font-family: 'Rock Salt', cursive;
    text-align: center;
    font-size: 100px;

}
#main .m h2{
    text-align: center;
    font-family: 'Knewave', cursive;
    line-height: 200px;
    color:rgb(250, 35, 35);
    text-shadow: 0 0 10px  black,0 0 10px black,0 0 10px black,0 0 0 black; 
}

#blog{
    
    text-align: left;
    color:white;
    font-weight: bolder;
    font-family: cosmic,sans-serif;
    font-size: 25px;
    
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
   

}
#blog .multi
{
    background-image: linear-gradient(60deg,#d15a7c,#C70039);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip:text;
    color: transparent;
}
 #blogs .container2{
    display: grid;
    grid-template-columns: auto auto auto auto   ;
    grid-gap: 5px;
 padding: 20px;
 margin:100px;
 width: 100%;
    
    
}
#blog .card{
    
padding: 10px;
border-radius: 10px;

box-shadow:10px 10px 8px 0px  rgba(2, 2, 2, 0.377);
background-color: transparent;

height: 100%;


}
#blog .rounded-circle{
    height: 70%;
}
#blog .card:hover{
    transform: translateY(-10px);
}
.card-title{

font-family: cosmic,sans-serif;
font-weight: bolder;
text-align: center;
color: white;
}
.card-text span{
    color: rgb(236, 227, 227);
    
  
}
#blog .card-img-top{
    width: 170px;
    height: 300px;
    padding: 20px;
}
#blog h1{
    color: rgb(248, 231, 77);     
    display: block;
    text-shadow: 
      0 0 10px rgba(255, 123, 0, 0.979),
      0 0 10px rgb(255, 196, 0),
      0 0 0px orange,
      0 0 10px darkred;
    
   
    filter: saturate(100%);
    animation: flicker steps(100)  1s infinite;
         
    font-weight: bolder;
    font-family: 'Rye', cursive;
    text-align: center;


}
#blog h2{
    color: rgb(248, 231, 77);     
    display: block;
    text-shadow: 
      0 0 12px rgba(255, 123, 0, 0.979),
      0 0 2px rgb(255, 196, 0),
      0 0 2px orange,
      0 0 2px darkred;
   
    filter: saturate(100%);
    animation: flicker steps(100)  1s infinite;
        font-size: 40px; 
    font-weight: bolder;
    font-family: 'ZCOOL KuaiLe', cursive;
    text-align: left;

}


.container1{
    padding: 50px;
   margin-top: 100px;
   
   
}
.container1 form{
    margin:20px;
    padding:20px;
    box-shadow: 1px 1px 16px black;
    width:50%;
    text-align: center;
    background-image: linear-gradient(60deg,rgba(184, 47, 47, 0.74),red);
    

}
.container1 form h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 50px;
    text-align: center;
    color:black;
    font-size: xx-large;
}
.container1 form button{
    background-color: transparent;
    color: rgba(240, 218, 218, 0.74);
    padding: 10px;
    width: 15%;
    border-radius: 70px;
    cursor: pointer;
    border: none;
    border: 2px solid black;
    
}
.container1 form button:hover{
    color: rgb(226, 36, 36);
    background-color: rgba(252, 212, 81, 0.966);
}
.container1 form input:focus{
    background-color: rgba(252, 212, 81, 0.966);;
    border-left:5px solid #030303;
    border-bottom: none;
    outline: none;
    box-shadow: 1px 1px 16px #030303;
}
.container1 form select:focus{
    background-color: rgba(252, 212, 81, 0.966);;
    border-left:5px solid #030303;
    border-bottom: none;
    box-shadow: 1px 1px 16px #030303;
}
.container1 form input{
    width:90%;
    border-radius: 5px;
    border:none;
    border-bottom:2px solid  black;
    height:40px;
    margin:10px;
    padding:5px;
    outline:none;
    background-color: transparent;
    
}
.container1 form select{
    width:90%;
    border-radius: 5px;
    border:none;
    border-bottom:2px solid  black;
    height:40px;
    margin:10px;
    padding:5px;
    outline:none;
    background-color: transparent;
}


.row .col1{
    margin-top: 100px;
    padding:10px;
  
  
}


.product_details{
    padding: 10px;
    margin-top: 5px;
    overflow: hidden;
   
}
.prod{
    display: flex;
    
    
}

 #productmain{
   
    height: 600px;
   width:600px;
    margin-left: 70px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    
    
}
.col-2 span{
    background-image: linear-gradient(60deg,#f51f1f,#f59b9b);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip:text;
    color: transparent;
    font-weight: bolder;

}
.col-2 input{
    width:90%;
    border-radius: 5px;
    border:none;
    border-bottom:2px solid  black;
    height:40px;
    margin:10px;
    padding:5px;
    
    background-color: transparent;
    color: white;
}
.col-2 select{
    width:90%;
    border-radius: 5px;
    border:none;
    border-bottom:2px solid  black;
    height:40px;
    margin:10px;
    padding:5px;
    
    background-color: transparent;
    color: white;
}
.col-2 option{
    color: black;
}
.row .col1 .small_img{
    height: 40px;
    display: grid;
    grid-template-columns: auto ;
    grid-gap: 10px;
    margin-top: 100px;
    
    margin-left: 20px;
   
}

.row .col1 .small_img img{
    
    height: 100px;
    width: 100px;
    padding: 10px;
   border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
}

.col-2{
    color:white;
    padding: 40px;
   
    margin-left: 80px;
   
    font-size: 20px;
}
.col-2 a{
    text-decoration: none;
    color: #992121;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
.col-2 a:hover{
    color: #502d13;
}

.container2{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto ;
    grid-gap: 10px;
 padding: 30px;
 margin: auto;
 width: 100%;
    
    
}
.product_details .card{
    
padding: 10px;

margin: 5px;

background-color: transparent;
overflow: hidden;



}
.product_details.card-img-top{
    height: auto;
}
.product_details .card:hover{
    transform: translateY(-10px);
}
.card-text{
font-size: 12px;
font-family: cosmic,sans-serif;
font-weight: bolder;
color: white;
}
.card-text span{
    color: rgb(236, 227, 227);
    
  
}
.product_details .card-img-top{
    width: 170px;
    height: 300px;
    padding: 20px;
    
}



#footer{
    background-image: linear-gradient(60deg,rgba(184, 47, 47, 0.74),red);
    color: white;
    height: 45%;
}
   
#shop
{
    background-image: url("image/shop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
   
}



.footer-box 
{
padding: 20px;

}

.footer-box .fa{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
border-radius: 2px;
background-image: linear-gradient(60deg,rgba(184, 47, 47, 0.74),red);

}
.footer-box .form-control
{

    margin-top: 25px !important;
    max-width: 250px;
}
.footer-box .btn-primary
{
    border: none;
    margin-top: 30px;
    background-image: linear-gradient(60deg,rgba(184, 47, 47, 0.74),rgb(255, 40, 40));
}
#footer hr{
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
}
.copyright
{
    text-align: center;
}


























@media(max-width:1200px){
    .main .main_video video
    {
        max-width: 90%;
    }
   
    .container1 form button
    {
        width:25%;
    }

    #products .container
    {
        display: grid;
       grid-template-columns:auto auto auto  ;
       background-color: transparent;
       
       
      
        
    
       
    }

 .container2{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-gap: 10px;
 height: 100%;
    padding: 10px;
    border: 1px solid black;
}
.card-text{
    font-size: 10px;
    font-family: cosmic,sans-serif;
    font-weight: bolder;
    color: white;
    
    }
.card-text span{
    visibility: hidden;
    
  
} 
}

